<div class="container">
  <div class="row">
    <h1> My Tasks</h1>
    <%= link_to new_task_path do %>
    <% end %>
  </div>
    <ul>
    <% @tasks.each do |task| %>
      <li style="list-style: none">
        <input type="checkbox" name ="completed" <%= "checked" if task[:completed] %>>
        <p><%= link_to task.title, task_path(task) %></p>
      </li>
    <% end %>
    </ul>
  <%= link_to "Add a new task", new_task_path, class: 'btn btn-primary' %>
</div>

